.tab-btn-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 180px;
    left: 0;
    width: 10%;
    li {
        border: none;
        border-radius: 8px;
        background: linear-gradient(45deg, rgb(124, 58, 237), #da62c4 30%);
        transition: background-position .6s cubic-bezier(.22, 1, .36, 1);
        color: #fff;
        opacity: 0.8;
        padding: 2px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        opacity: .7;
        margin: 5px 0;
        padding: 12px;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }

        &.selected {
            opacity: 1;
        }
    }
}